@page
@model IndexModel
@{    
    ViewData["Title"] = "LabaIT Home Work 2";
}

<div class="jumbotron">
    <h1>.NET 💜 Azure</h1>
    <p class="lead">Example .NET app to Azure App Service.</p>
    <br>
    <p class="lead">Strona na zaliczenie drugiej pracy domowej </>
    <br>
    <h2>Laba IT 👍<h2>
</div>
