@page
@model IndexModel
@{    
    ViewData["Title"] = "Home page of LabaIT Home Wokr 2";
}

<div class="jumbotron">
    <h1>.NET 💜 Azure</h1>
    <p class="lead">Example .NET app to Azure App Service.</p>
    <br>
    <p class="lead">Strona na zaliczenia drugiej pracy domowej Laba IT.</>
</div>
